@import url('https://fonts.googleapis.com/css?family=Cinzel');
/*
----------- Body -------------
*/

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 3%;
}


/*
-------- Navigation ----------
 */

.navigation ul {
  margin: 2px 0;
}

.navigation ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav-item {
  display: inline-block;
  float: right;
  margin: 3px 7px;
  padding: 7px 10px;
  background-color: #00a230;
}


/*
--------- Assign Form ---------
*/

#title {
  text-align: center;
  font-family: 'Cinzel', serif;
  letter-spacing: 0.3em;
  font-size: 3em;
}

.assign-field {
  margin: 0 auto;
}

.form-element {
  width: 40%;
  margin: 0 auto;
}

.form-element button{
  width: 46%;
  padding: .8em 0;
  display: inline-block;
  margin: 0.9em 0 0 2%;
}

.form-element input{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

#ticket-number {
  display: inline-block;
  margin: 0 auto;
}


/*
-------- Footer Status --------
*/

.status-field {
  width: 100%;
  height: 6rem;
  position: fixed;
  bottom: 10px;
  z-index: 99;
}

.status {
  width: 80%;
  height: 100%;
  margin: 0 auto 5px auto;
  background-color: #AAD7FF;
}

.status p {
  display: block;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: .8em 0;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content button:first-of-type {
  margin-left: 40%;
  margin-right: 15px;
}

.content button {
  padding: 5px 16px;
}

.padding {
  padding-top: 5.5%;
}
