/*
----------- Body -------------
*/

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 13%;
}


/*
-------- Navigation ----------
 */

.navigation ul {
  margin: 2px 0;
}

.navigation ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav-item {
  display: inline-block;
  float: right;
  margin: 3px 7px;
  padding: 7px 10px;
  background-color: #00a230;
}


/*
--------- Assign Form ---------
*/

#title {
  text-align: center;
}

.assign-field {
  margin: 0 auto;
}

.form-element {
  width: 40%;
  margin: 0 auto;
}

.form-element button{
  width: 100%;
  padding: .8em 0;
  margin-top: .9em;
}

.form-element input{
  width: 100%;
}

#ticket-number {
  display: inline-block;
  margin: 0 auto;
}


/*
-------- Footer Status --------
*/

.status-field {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: orange;
}

.status {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #AAD7FF;
}

.status p {
  display: inline-block;
  padding-top: 17px;
}
